.blog-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.blog-item {
  width: 32%;
  margin-right: calc((100% - (32% * 3)) / 2);
  margin-top: 20px;
}

.blog-item-date {
  font-size: 14px;
  margin-top: 5px;
}

.blog-item-ttl {
  font-weight: bold;
  font-size: 18px;
}

.blog-item:nth-child(3n) {
  margin-right: 0;
}