* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}

img {
  width: 100%;
  height: auto;
}

body {
  font-family:
    "Hiragino Kaku Gothic Pro",
    "ヒラギノ角ゴ Pro",
    "Yu Gothic Medium",
    "游ゴシック Medium",
    sans-serif;
  line-height: 1.6;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  background-color: #fff;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1;
}

.header-ttl {
  font-size: 24px;
  width: 80px;
}

.header-nav-list {
  display: flex;
  font-weight: bold;
}

.header-nav-item:not(:last-child) {
  margin-right: 30px;
}

.menu {
  display: none;
}

.drawer-nav {
  display: none;
}

.wrap {
  width: 85%;
  margin: 0 auto;
}

.wrap-s {
  width: 75%;
  margin: 0 auto;
}

.ptb-m {
  padding: 80px 0;
}

.ttl {
  font-size: 30px;
  font-weight: bold;
}

.btn {
  display: block;
  width: 300px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  background-color: #cd0224;
  color: #fff;
}

.page-mv {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: url(../img/mv.png) center / cover;
}

.bottom-contact {
  background-color: #f5f6f9;
  text-align: center;
}

.bottom-contact-txt {
  margin-top: 10px;
}

.openBtn {
  cursor: pointer;
  color: #fff;
  border: none;
  background-color: #cd0224;
}

.bottom-contact-btn {
  margin: 40px auto 0;
}

.modal {
  display: none;
  position: fixed;
  left: 0%;
  top: 0%;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.modal__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modal__content-inner {
  background-color: white;
  height: 750px;
  width: 700px;
  text-align: left;
  padding: 20px;
}

.modal__closeBtn {
  text-align: right;
}

.closeBtn {
  border: none;
  background-color: white;
  font-size: 32px;
  cursor: pointer;
}

.top-contact-ttl {
  text-align: center;
}

.contact-form-item-name {
  font-weight: bold;
}

.contact-form-item-input {
  margin-top: 5px;
  font-size: 16px;
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.contact-form-item-textarea {
  font-size: 16px;
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  resize: none;
}

.contact-form-item-required {
  color: #cd0224;
  margin-left: 5px;
}

.contact-form-submit {
  width: 300px;
  margin: 20px auto 0;
  padding: 10px;
  border: none;
  display: block;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.scroll-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #999;
  opacity: .8;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  color: #fff;
  cursor: pointer;
}

.footer {
  padding: 20px 0;
  color: #fff;
  background-color: #222;
}

.footer-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  width: 85%;
}

.footer-nav-list {
  display: flex;
  flex-wrap: wrap;
}

.footer-nav-item:after {
  content: "|";
  display: inline-block;
  padding: 0 10px;
}